{% extends 'base.html' %}

{% block page_title %}
    Authentication With Django! | Reset Password
{% endblock %}

{% block page_heading %}
    Reset Password
{% endblock %}

{% block content %}
    <p>Please enter your email address:</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.email.errors }}
        <p>
            <label for="id_email">Email Address: </label>
            {{ form.email }}
        </p>
        <button type="submit">Reset Password</button>
    </form>
{% endblock %}